<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are the extended Tran family or offsprings of Ky Van Tran and Hoa Thi Nguyen.  
</p>

    <p>
      <a href="https://drive.google.com/folderview?id=0Bw8jqbOsxCywNm1KT2t0QVhqd0U&usp=gmail">Open </a>
      the Google Drive share folder. 
    </p>

    <p>
      <a href="https://extendedtranfamily.shutterfly.com/">Open </a>
      the Shutterfly share album. 
    </p>