<footer class="footer">
  <small>
    App developed by <a href="https://www.facebook.com/thang.tran.96">Thang Tran</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://tranfamily.herokuapp.com/">Website</a></li>
    </ul>
  </nav>
</footer>